<html (mousemove)="onMove()">

<table>
<tr>
   <td><label>Nome </label></td>
   <td><input [(ngModel)]="aluno.nome" name="namebox" ></td>
   <td name="addbuttom"><button (click)="criarAluno(aluno)">Adicionar</button></td>
</tr>
<tr>
   <td><label>CPF </label></td>
   <td><input [(ngModel)]="aluno.cpf" name="cpfbox" ></td>
</tr>
<tr>
   <td><label>e-mail </label></td>
   <td><input [(ngModel)]="aluno.email" name="emailbox" ></td>
</tr>
<tr>
   <td><label>GitHub </label></td>
   <td><input [(ngModel)]="aluno.github" name="gitbox" ></td>
</tr>
</table>
<td *ngIf="cpfduplicado || githubduplicado">
   Já existe um aluno com esse CPF ou com esse GitHub
 </td>

<table>
<tr *ngIf="alunos.length > 0">
   <th>Nome</th>
   <th>CPF</th>
   <th>e-mail</th>
   <th>gitHub</th>
</tr>
<tr *ngFor="let a of alunos" name="alunolist">
   <td name="nomelist">{{a.nome}}</td>
   <td name="cpflist">{{a.cpf}}</td>
   <td name="emaillist">{{a.email}}</td>
   <td name="gitlist">{{a.github}}</td>
   <td name="rembuttom"><button (click)="removerAluno(a)">REMOVER</button></td>
</tr>
</table>

</html>
